{% extends "show/base.html.twig" %}

{% block title %}
    Create new show
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.published_date) }}
    {{ form_row(form.iso_country) }}
    {{ form_row(form.path_main_picture) }}
    <img src="{{ asset('/uploads/picture_show/'~show.getPathMainPicture().getFilename()) }}" alt="{{ show.name }}" width="200px">
    {{ form_row(form.categories) }}
    {{ form_end(form) }}
{% endblock %}


 {% block search %}
     <!-- Sidebar Widgets Column -->
     <div class="col-md-4">

         <!-- Search Widget -->
         <div class="card my-4">
             <h5 class="card-header">Search</h5>
             <div class="card-body">
                 <div class="input-group">
                     <input type="text" class="form-control" placeholder="Search for...">
                     <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                 </div>
             </div>
         </div>

         {{ render(controller("AppBundle\\Controller\\ShowController::categoriesAction")) }}

         <!-- Side Widget -->
         <div class="card my-4">
             <h5 class="card-header">Side Widget</h5>
             <div class="card-body">
                 You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
             </div>
         </div>

     </div>

 {% endblock %}