{% extends "show/base.html.twig" %}

{% block title %}
    Create new show
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <img class="card-img-top" src="{{ asset('uploads/picture_show/'~show.getPathMainPicture().filename) }}" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">{{ show.getName() }}</h2>
            <div class="categories">
                {% for category in show.getCategories() %}
                    {{ category.getName() }},
                {% endfor %}
            </div>
        </div>
        <div class="card-footer text-muted d-flex flex-column">
            Published on {{ show.getPublishedDate()|date('d/m/Y') }} by
            <a href="#">{{ show.getAuthor() }}</a>

            <a href="{{ path('update_show', {'id': show.getId() }) }}" class="btn align-self-end btn-outline-dark">Update</a>
        </div>
    </div>
{% endblock %}

